.apple {
    padding: 48px 0;
}

.products {
    display: grid;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.elements {
    display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 350px 350px;
  justify-content: center;
  align-items: center;
}